DNSCrypt/mybase.txt
Proxifier/GetWhiteDomainLists/tmp_whitelist.txt
Proxifier/GetWhiteDomainLists/tmp_scholar_not_cn.txt
Proxifier/GetWhiteDomainLists/downloaded_rules/**
v2rayN/BlackList.txt
v2rayN/ori_BlackList.txt
v2rayN/ori_ProxyList.txt
v2rayN/ori_WhiteList.txt
v2rayN/AdBlock.list
v2rayN/Advertising.list
v2rayN/Hijacking.list
v2rayN/Reject.list
**/__pycache__/**
**/.idea/**
