# DNSCrypt/mybase.txt
v2rayN/BlackList.txt
v2rayN/ori_BlackList.txt
v2rayN/ori_ProxyList.txt
v2rayN/ori_WhiteList.txt
v2rayN/AdBlock.list
v2rayN/Advertising.list
v2rayN/Hijacking.list
v2rayN/Reject.list
**/__pycache__/**
**/.idea/**
